@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* estilo geral - header e footer */


* {
    font-family: Sora, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 200px;
    padding: 28px 8%;
    background-color: #0D2F26;
}

.header_outros{

    background-color: #0D2F26;
    padding: 28px 8% 50px;
    width: 100%;
    

}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

#nav_logo_link {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#nav_logo {
    width: 60px;
    height: 60px;
    color: #e9a209;

}

#name_logo {
    font-family: Bitter, serif;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    
}

.nav-item a:hover{
    color: #e9a209;
    transition: 0.5s;


}

#btn-peca-agora {
    background: #fff;
    color: #0D2F26;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
}


/* estilo index */


#main {
    width: 100%;
    height: 200px;
    padding: 28px 8%;
    background-image: linear-gradient(to bottom, #0D2F26, #0D2F26);
    color: #fff;
    font-size: 36px;
    position: relative;
}

#palavra-paladar {
    color: #e9a209;
    font-weight: 600;
}

#img-cafe-grao {
    position: absolute;
    right: 0;
    top: -130px;
}

#section1 {
    display: flex;
    background-color: #FFFFFF;

}

#img-graos {
    width: 400px;
    height: 300px;
    margin-top: 320px;

}

#nossos-cafes {
    margin-top: 320px;
    margin-left: 300px;
}

#frase-nosso-cafe {
    margin-top: 370px;
    margin-left: -200px;
    text-align: justify;
}


#tipos-de-torra {
    display: flex flex-wrap:;
    background-color: #FBEEE5;
}

#torra-titulo {}

/* estilo cardapio */



/* estilo curiosidades */




.container_h2 {
    display: flex;
    margin: 100px auto 45px;
    padding: 15px;
    justify-content: center;
    width: fit-content;
}

.h2_curiosidade {

    font-family: "Josefin Sans", sans-serif;
    font-weight: 1000;
    color: #361500;
}

.container_curiosidade_left,
.container_curiosidade_right {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8rem;
    color: #361500;

}

.container_curiosidade_left {
    flex-direction: row-reverse;


}

.img_curiosidade_left,
.img_curiosidade_right {
    height: 17rem;
    width: 25rem;
    max-width: 100%;

}

.img_curiosidade_left {
    border-radius: 0px 100px 100px 0px;
}

.img_curiosidade_right {
    border-radius: 100px 0px 0px 100px;
    padding: 0;
    margin: 0;
}

.curiosidade_text {
    margin-top: 15px;
    margin: 10px 50px 50px 50px;
    ;
}

.nome_curiosidade_Right,
.nome_curiosidade {
    font-size: 2rem;
    margin-left: 50px;

}

/* estilo sobre */


.Container_h2_sobre {
    display: flex;
    margin: 60px auto 30px;
    padding: 8px;
    width: fit-content;
    justify-content: center;
}

.h2_Sobre {
    font-size: 2rem;
    color: #361500;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 1000;

}

#Sobre_Text {
    padding: 10px 150px 50px;
    color: #361500;
    text-align: center;
    font-size: 20px;
}

#Container_Perfis {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 100px 100px 100px;

    grid-template-areas:
        "perfil1 none perfil2"
        "perfil1 none perfil2"
        "perfil1 none perfil2"
    ;
    margin: auto 100px;
}

#perfil1 {
    grid-area: perfil1;
    border: solid #361500;
    background-color: #0D2F26;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#perfil2 {
    grid-area: perfil2;
    border: solid #361500;
    background-color: #0D2F26;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Foto_perfil {
    height: 6rem;
    margin: 3% auto;
    border-radius: 50%;
    border: solid  #361500 2px;
}

.redes_perfis {
    margin-top: 15px;
}

.nome_perfil{
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif ;
}

.Text_Perfil{
    color: #FFFFFF;
    padding: auto 20px;
    /* parei aqui */
}



/* estilo contato */